* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	margin: 0 auto;
  max-width: 1024px;
	font-family: "Comic Sans", cursive;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px; 
}

.header {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

h1 {
	display: inline;
	font-size: 50px;
	font-style: italic;
}

.nav-bar {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	background-image: url(./design1_image1.jpg);
  background-size: cover;
}

nav {
	align-self: flex-end;
	margin-top: -5px;
}

nav > a {
	border: 2px solid black;
	color: #fff;
	padding: 5px 15px;
	margin: 10px;
	text-decoration: none;
	box-shadow: 5px 5px #dcdcdc;
}

#home, 
#about,
#contact,
#game-info,
#rules,
#registration {
	background-color: #70ad47;
}

.about-link, 
.contact-link, 
.home-link,
.game-info-link, 
.rules-link, 
.registration-link {
	background-color: #4472c4;
}

h2 {
  text-align: center;
  background-color: #70ad47;
  border: 2px solid black;
	padding: 5px 0px;
}

.main-section-container {
	width: 100%;
}

.info-section-container {
	display: flex;
	gap: 40px;
}

.logo {
	max-width: 200px;
	margin-top: 20px;
}

.logo img {
	width: 100%;
}

.info-container {
	margin-top: 40px;
}

.item {
	margin-top: 5px;
}

.item p {
	text-indent: 1.2em;
}

.about-item,
.game-info-item,
.rules-section {
	margin-bottom: 20px;
}

/* Game-info section */ 

.game-info-title {
	text-decoration: underline;
	margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}

table {
	width: 100%;
	border: 1px solid #000;
	margin-top: 20px;
}

th {
	width: 20%;
	border: 1px solid #000;
}

td {
	border: 1px solid #000;
	text-align: center;
}

.game-month {
	text-transform: uppercase;
}

.container-additional-info {
	display: flex;
  flex-direction: column;
  gap: 30px;
	margin: 30px 0;
}

.additional-info,
.info-contact {
	line-height: 2em;
}

.contact-box {
	display: flex; 
	justify-content: space-between;
}

.game-locations h2 {
	text-align: center;
  background-color: unset;
  border: white;
  padding: 5px 0px;
}

.location-container {
	display:flex;
	gap: 30px;
	margin-bottom: 30px;
}

.location-container h4 {
	text-align: center;
}

/* Rules section */ 

.rules-title {
	text-align: center;
	margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}

.rules-subtitles {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

.rules-section p {
	text-indent: 2em;
}

.item-container-rules span {
	text-transform: uppercase;
	font-weight: bold;
}

.item-container-rules li {
	margin-bottom: 20px;
}

.sub-items-container-rules li {
	list-style-type: lower-latin;
	margin-bottom: 0;
}

.rules-section ul {
	list-style-type: circle;
	padding-left: 4em;
}

/* Registration Form */


fieldset {
  border: none;
  padding: 1em 0;
}

.sup-ind { 
	vertical-align: super;
	font-size: 12px;
} 

.drop-down-menu-school {
	display: flex;
	flex-direction: column;
  gap: 10px;
}

input {
	border: none;
	border-bottom: 1px solid #000;
	padding: 0px 40px;
	margin: 10px 0;
}

.container-form-position,
.container-form-uniform {
	display: flex;
	flex-direction: column;
}

legend {
	font-weight: 600;
}

.signature {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 15px;
}

.signature span {
	width: 300px;
}


input[type="submit"] {
  display: block;
  width: 60%;
  margin: 20px auto;
  height: 40px;
  font-size: 1.1rem;
  background-color: beige;
  border-color: white;
  min-width: 300px;
}