* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
	background-color: #fff;
}

body {
	max-width: 1024px;
	margin: 0 auto;
}

.header {
  background-image: url(./design1_image1.jpg);
  height: 400px;
  background-size: cover;
  background-position: top;
  font-family: "Comic Sans", cursive;
}

h1 {
	font-size: 40px;
	font-style: italic;
	padding-top: 20px;
	padding-left: 20px;
}

nav {
	display: inline;
  position: absolute;
	right: 30px;
}

nav > a {
	border: 1px solid black;
	color: #fff;
	padding: 5px 15px;
	margin: 10px;
	text-decoration: none;
	box-shadow: 5px 5px #dcdcdc;
}

#home, 
#about,
#contact,
#game_info,
#rules {
	background-color: #70ad47;
}

.about-link, .contact-link, .home-link,
.game-info-link, .rules-link {
	background-color: #4472c4;
}

h2 {
	position: relative;
  top: 290px; /* si yo saco el position absolute del nav queda, esta bien asi tanto top?*/
  text-align: center;
  background-color: #70ad47;
  border: 1px solid black;
}

.main-container {
	display: flex;
}

.logo {
	width: 100%;
	max-width: 200px;
}

.info-container {
	display: inline-block;
	margin-left: 40px;
	margin-top: 40px;
}

.item {
	margin-top: 5px;
  margin-bottom: 5px;
}


/* Game-info section */ 

td {
	padding: 0 15px;
}
/*
.info-contact .phone {
	display: inline;
} */

/*
.phone, .email {
	display: inline;
}*/

.test {
	display: flex; /* puedo usar flex?*/
	justify-content: space-between;
}

